body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: black;
}

h1 p {
    font-family: verdana;
    font-size: 20px;
    color: brown;
}

.navbar {
    height: 200px;
    width: 100%;
    background-color: #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    background-color: lawngreen;
}

li {
    display: inline;
    padding: 8px 16px;
    float: right;
}

li a {
    display: block;
    padding: 14px 16px;
    background-color: skyblue;
    text-decoration: none;
    text-align: center;
    color: #000;
}

/* Change the link color on hover */
a:hover {
    background-color: blue;
    color: #fff;
  }

a.active {
    background-color: #29d413;
  }