body {
    background-color: lightblue;
  }

h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
  }

p {
    font-family: verdana;
    font-size: 20px;
    color: wheat;
    text-align: center;
  }

  div.navbar {
    height: 200px;
    width: 100%;
    background-color: #ccc;
  }