body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

h1 {
  color: #111;
  text-align: center;
}

h2 {
  text-align: center;
  color: #111;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #111;
  text-align: center;
}

/* div.navbar {
    height: 200px;
    width: 100%;
    background-color: darkgray;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;
  background-color: #fff;
  
}

li {
  width: 100px;
  height: 20px;
  display: inline;
  padding: 14px 16px;
  float: left;
  border: 1px solid #111;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  color: #111;
  
}

/* Change the link color on hover */
li a:hover:not(.active) {
  background-color: orange;
  color: #111;
}

li a.active {
  background-color: green;
  color: #111;
}
